{% extends 'bernard/base.html' %}
{% load static %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static "bernard/css/bootstrap-datetimepicker.css" %}">
    <script src="{% static "bernard/js/moment.js" %}"></script>
    <script src="{% static "bernard/js/bootstrap-datetimepicker.js" %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row pt-4">
        <div class="col-md-6">
            <h2 class="h2">Schedule new delivery</h2>
            <form action="/deliveries/new" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="vehicle">Vehicle</label>
                    <select class="form-control" name="vehicle_id">
                        <option value="-1">-- select --</option>
                        {% for vehicle in vehicles %}
                        <option value="{{ vehicle.id }}" {% if vehicle.id == vehicle_id %}selected{% endif %}>{{ vehicle.external_id }} ({{ vehicle.vendor.name }})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="order">Order</label>
                    <select class="form-control" name="order_id">
                        <option value="-1">-- select --</option>
                        {% for order in orders %}
                        <option value="{{ order.id }}" {% if order.id == order_id %}selected{% endif %}>{{ order.external_id }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="timeslot">Timeslot</label>
                    <div class="input-group" id="datetime">
                        <input type="text" name="timeslot" id="timeslot" class="form-control" aria-describedby="datetime">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <span class="fas fa-calendar-alt"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#datetime").datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            stepping: 30,
            locale: moment.locale('sv'),
            daysOfWeekDisabled: [6, 0],
            minDate: moment.unix({{ now }}),
            icons: {
                time: 'fas fa-clock',
                date: 'fas fa-calendar',
                up: 'fas fa-caret-up',
                down: 'fas fa-caret-down',
                previous: 'fas fa-caret-left',
                next: 'fas fa-caret-right',
                today: 'fas fa-calendar-alt',
                clear: 'fas fa-times',
                close: 'fas fa-times-circle',
            },
        });
    });
</script>

{% endblock %}
