{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static "bernard/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bernard/css/styles.css" %}">

    <title>Levfinder</title>
</head>

<body class="text-center">
    <div class="signin">
        <form class="form-signin" action="/login/" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}

            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

            <input type="password" name="password" class="form-control" placeholder="Password" required>

            <input type="hidden" name="next" value="{{ next_path }}">
            <!--
            <div class="checkbox mb-3">
            <label><input type="checkbox" value="remember-me"> Remember me </label>
            </div>
            -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>
    </div>
</body>
</html>
