{% extends 'bernard/base.html' %}

{% block head-extra %}
{% endblock %}

{% block nav-notifications %}active{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-md-6">

<div class="row mb-2">
    <div class="col-md-8">
        <h4 class="h4 mb-0">Notifications</h4>
        <div class="text-muted">Notifications sent out or waiting to trigger</div>
    </div>
    <div class="col-md-4 offset-md-0">
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-outline-primary" href="{% url 'notification_new' %}">Add</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if notifications %}
        <table class="table table-hover">
            <tbody>
            {% for notification in notifications %}
            <tr>
                <td><a href="/notifications/{{ notification.id }}"><span class="text-monospace">{{ notification.ref_id }}</span></a></td>
                <td>
                    {{ notification.status }}
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
