{% extends 'bernard/base.html' %}

{% block head-extra %}
{% endblock %}

{% block nav-orders %}active{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="pt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if orders %}
            <ul>
            {% for order in orders %}
            <li><a href="/orders/{{ order.id }}">
                <span class="text-monospace">{{ order.external_id }}</span>
                </a> at {{ order.vendor.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
