{% extends 'bernard/base.html' %}

{% block head-extra %}

<script src="https://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />

{% endblock %}

{% block nav-orders %}active{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="pt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/orders">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ order.external_id }}</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="h2">
                <span class="text-monospace">{{ order.external_id }}</span>
            </h2>

            <h6 class="h6 subtitle">
                {{ order.vendor.name }}
            </h6>

            <table class="table table-borderless table-sm">
                <tr>
                    <th scope="row">Street</th>
                    <td>{{ order.street }}</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>{{ order.city }} {{ order.postcode }}</td>
                </tr>
                <tr>
                    <th scope="row">Phone</th>
                    <td>{{ order.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ order.email }}</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="/deliveries/new?order={{ order.id }}">Schedule delivery</a>
        </div>

        <div class="col-md-6">
            <div style="width: 100%; height: 480px" id="map-container"></div>
        </div>
    </div>
</div>

<script>
var platform = new H.service.Platform({
    app_id: '{{ mapping_api_id }}',
    app_code: '{{ mapping_api_code }}',
    useHTTPS: true,
});

var targetElement = document.getElementById('map-container');
var geocoder = platform.getGeocodingService();
var defaultLayers = platform.createDefaultLayers();

var map = new H.Map(
    targetElement,
    defaultLayers.normal.map,
    {
        zoom: 6,
        center: { lat: 58.6, lng: 14.4 }
    }
);
map.setZoom(14);

var ui = H.ui.UI.createDefault(map, defaultLayers);

var onResult = function(result) {
    var locations = result.Response.View[0].Result, position, marker;

    for (i = 0;  i < locations.length; i++) {
        position = {
            lat: locations[i].Location.DisplayPosition.Latitude,
            lng: locations[i].Location.DisplayPosition.Longitude
        };
        map.setCenter(position);
        marker = new H.map.Marker(position);
        map.addObject(marker);
    }
};

var geocodingParams = {
    searchText: '{{ order.street }} {{ order.city }}',
};

geocoder.geocode(geocodingParams, onResult, function(e) {
    alert(e);
});

</script>

{% endblock %}
