{% extends 'bernard/base.html' %}

{% block head-extra %}
{% endblock %}

{% block nav-orders %}active{% endblock %}

{% block content %}
<h2 class="h2 p-3">
    Orders
</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if orders %}
            <ul>
            {% for order in orders %}
            <li><a href="/orders/{{ order.id }}">
                <span class="text-monospace">{{ order.external_id }}</span>
                </a> at {{ order.vendor.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
