{% extends 'bernard/base.html' %}

{% block nav-overview %}active{% endblock %}

{% block content %}
<div class="row p-4">
    <div class="col-md-4">
        <h2>Pending</h2>
        {% if unscheduled_orders %}
        <ul>
        {% for order in unscheduled_orders %}
        <li><a href="orders/{{order.id}}">
                <span class="text-monospace">{{ order.external_id }}</span>
                {{ order.vendor.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2>Scheduled</h2>
        {% if scheduled_deliveries %}
        <ul>
        {% for delivery in scheduled_deliveries %}
        <li>
            <a href="orders/{{ delivery.order.id }}">{{ delivery.order.external_id }}</a> by <a href="vehicles/{{ delivery.vehicle.id }}">{{ delivery.vehicle.external_id }}</a> on {{ delivery.timeslot }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2>Vehicles</h2>
        {% if vehicles %}
        <ul>
        {% for vehicle in vehicles %}
        <li><a href="vehicles/{{ vehicle.id }}">
                <span class="text-monospace">{{ vehicle.external_id }}</span>
                    ({{ vehicle.vendor.name }})</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
