{% extends 'bernard/base.html' %}

{% block nav-overview %}active{% endblock %}

{% block content %}

<div class="container">
<div class="row">

<div class="col-md-6 mb-4">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ notif_count }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Notifications</h6>
        <p class="card-text">Pending notifications</p>
        <a href="{% url 'notifications' %}" class="card-link">All notifications</a>
    </div>
</div>

</div>
<div class="col-md-6">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ vhcl_count }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vehicles</h6>
        <p class="card-text">Vehicles registered to this organisation</p>
        <a href="{% url 'vehicles' %}" class="card-link">All vehicles</a>
    </div>
</div>

</div>
</div>
<div class="row">

<div class="col-md-6 mb-4">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ token_count }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tokens</h6>
        <p class="card-text">Tokens are required to make calls to the REST API</p>
        <a href="{% url 'tokens' %}" class="card-link">All tokens</a>
    </div>
</div>

</div>

</div>
</div>
</div>
</div>
{% endblock %}
