{% extends 'bernard/base.html' %}

{% block head-extra %}
{% endblock %}

{% block nav-tokens %}active{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-md-6">

<div class="row">
    <div class="col-md-8">
        <h4 class="h4 mb-0">Tokens</h4>
        <div class="text-muted">API tokens that are currently active</div>
    </div>
    <div class="col-md-4 offset-md-0">
        <div class="d-flex flex-row-reverse">
        <button class="btn btn-outline-primary">Create</button>
        </div>
    </div>
</div>

<hr class="my-2">

<div class="row">
    <div class="col-md-12">
        {% if tokens %}
        <ul class="list-unstyled">
        {% for tokens in tokens %}
        <li><a href="/tokens/{{ tokens.id }}"><span class="text-monospace">{{ tokens.ref_id }}</span></a> {{ tokens.vendor.name }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
