{% extends 'bernard/base.html' %}

{% block head-extra %}
{% endblock %}

{% block nav-vehicles %}active{% endblock %}

{% block content %}
<h5 class="h5">Vehicles</h5>

<button class="btn btn-outline-primary btn-sm">New vehicle</button>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if vehicles %}
            <ul class="list-unstyled">
            {% for vehicle in vehicles %}
            <li><a href="/vehicles/{{ vehicle.id }}"><span class="text-monospace">{{ vehicle.ref_id }}</span></a> {{ vehicle.vendor.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
