{% extends 'bernard/base.html' %}

{% block head-extra %}

<script src="https://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css"></link>

{% endblock %}

{% block nav-vehicles %}active{% endblock %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
            <h4 class="h4 mb-0">{{ vehicle.ref_id }}</h4>
            </div>
        </div>

        <hr class="mt-2 mb-4">

        <div class="row">
            <div class="col-md-12">
            <fieldset disabled>
            <div class="form-group">
                <label for="info">Info</label>
                <textarea id="info" rows="3" class="form-control">{{ vehicle.info }}</textarea>
            </div>
            <div class="form-group">
                <label for="app-login-key">App Login Key</label>
                <input id="app-login-key" aria-describedby="key_help" class="form-control" placeholder="{{ vehicle.app_login_key }}">
                <small id="key_help" class="form-text text-muted">Use this key to login on app</small>
            </div>
            </fieldset>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div style="width: 100%; height: 480px" id="map-container"></div>
    </div>
</div>

</div>

<script>
var platform = new H.service.Platform({
    app_id: '{{ settings.MAPPING_API_ID }}',
    app_code: '{{ settings.MAPPING_API_CODE }}',
    useHTTPS: true,
});

var defaultLayers = platform.createDefaultLayers();

var map = new H.Map(
    document.getElementById('map-container'),
    defaultLayers.normal.map,
    {
        zoom: 14,
        center: { lat: 52.5, lng: 13.4 }
    }
);

var ui = H.ui.UI.createDefault(map, defaultLayers);

{% if location %}
var loc = {
    lat: {{ location.latitude }},
    lng: {{ location.longitude }}
};

map.setCenter(loc);

marker = new H.map.Marker(loc);
map.addObject(marker);
{% endif %}

</script>

{% endblock %}
