{% extends 'bernard/base.html' %}

{% block head-extra %}
{% endblock %}

{% block nav-vehicles %}active{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="pt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Vehicles</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if vehicles %}
            <ul class="list-unstyled">
            {% for vehicle in vehicles %}
            <li><a href="/vehicles/{{ vehicle.id }}"><span class="text-monospace">{{ vehicle.external_id }}</span></a> {{ vehicle.vendor.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
