{% extends 'bernard/base.html' %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
{% endblock %}

{% block nav-vehicles %}active{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6">

<div class="row mb-2">
    <div class="col-md-8">
        <h4 class="h4 mb-0">Vehicles</h4>
        <div class="text-muted">Vehicles registered to your organisation</div>
    </div>
    <div class="col-md-4 offset-md-0">
        <div class="d-flex flex-row-reverse">
            <a href="{% url 'vehicle_new' %}" class="btn btn-outline-primary">Add</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if vehicles %}
        <table class="table table-hover">
            <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td><a href="/vehicles/{{ vehicle.id }}"><span class="text-monospace">{{ vehicle.ref_id }}</span></a>
                    </td>
                    <td>
                        {{ vehicle.info }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
