.media-items {
    overflow-y: scroll;
}

body {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.lang-icon {
    margin-right: 0.5rem;
}

div:hover.waypoint {
    background: hsl(0, 0%, 96%);
}
