{% load static %}{% load i18n %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% trans 'Dashboard' %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/bulma-timeline.min.css' %}">

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <a href="/">
            <h1 class="title is-4 has-text-white">Levfinder</h1>
          </a>
        </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link {% block nav-drivers %}{% endblock %}" href="{% url 'drivers' %}">{% trans 'Drivers' %}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'drivers_new' %}">{% trans 'Add' %}</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link {% block nav-stops %}{% endblock %}" href="{% url 'stops' %}">{% trans 'Stops' %}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'stops_new' %}">{% trans 'Add' %}</a>
            </div>
          </div>

          <a class="navbar-item {% block nav-route %}{% endblock %}" href="{% url 'route' %}">{% trans 'Route' %}</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class="icon"><i class="fas fa-language"></i></span>
            </a>
            <div class="navbar-dropdown">
              {% get_current_language as CURRENT_LANGUAGE %}

              <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="language" value="en">
                <a class="navbar-item" onclick="$(this).closest('form').submit();">
                  <span class="lang-icon flag-icon flag-icon-gb"></span>English
                  {% if CURRENT_LANGUAGE == 'en' %}<span class="icon"><i class="fas fa-check-circle"></i></span>{% endif %}
                </a>
              </form>

              <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="language" value="sv">
                <a class="navbar-item" onclick="$(this).closest('form').submit();">
                  <span class="lang-icon flag-icon flag-icon-se"></span>svenska
                  {% if CURRENT_LANGUAGE == 'sv' %}<span class="icon"><i class="fas fa-check-circle"></i></span>{% endif %}
                </a>
              </form>
            </div>
          </div>
          <a class="navbar-item" href="{% url 'settings' %}">
            <span class="icon">
              <i class="fas fa-cog"></i>
            </span>
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block main %}{% endblock %}

  </body>

</html>
