{% extends 'dashboard/base.html' %}{% load i18n %}

{% block title %}{% trans 'Add driver' %}{% endblock %}

{% block main %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Add driver</h1>
        {% for message in messages %}
        <div class="notification is-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        <form action="{% url 'drivers_new' %}" method="post">
          {% csrf_token %}

          <input type="hidden" name="street_number" id="street_number">
          <input type="hidden" name="route" id="route">
          <input type="hidden" name="postal_town" id="postal_town">
          <input type="hidden" name="country" id="country">
          <input type="hidden" name="postal_code" id="postal_code">
          <input type="hidden" name="latitude" id="latitude">
          <input type="hidden" name="longitude" id="longitude">

          <div class="field">
            <div class="label">{% trans 'Name' %}</div>
            <div class="control">
              <input class="input" type="text" name="name">
            </div>
          </div>

          <div class="field">
            <div class="label">{% trans 'Start address' %}</div>
            <div class="control">
              <input id="autocomplete" onFocus="geolocate()" class="input" type="text" name="start_address">
            </div>
          </div>

          <div class="field">
            <div class="label">{% trans 'Phone' %}</div>
            <div class="control">
              <input class="input" type="phone" name="phone">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div class="label">{% trans 'Type' %}</div>
              <label class="radio">
                <input type="radio" name="driver_type">
                {% trans 'Road' %}
              </label>
              <label class="radio">
                <input type="radio" name="driver_type">
                {% trans 'Bicycle' %}
              </label>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="button is-primary" type="submit" value="{% trans 'Save' %}">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<script>
  var autocomplete;

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')),
      {types: ['geocode']}
    );
    autocomplete.addListener('place_changed', populateFields);
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }

  function populateFields() {
    var place = autocomplete.getPlace();

    document.getElementById('latitude').value = place.geometry.location.lat();
    document.getElementById('longitude').value = place.geometry.location.lng();

    var elementIds = [
      'street_number',
      'route',
      'postal_town',
      'country',
      'postal_code',
    ];

    for (var i = 0; i < place.address_components.length; i++) {
      for (var j = 0; j < elementIds.length; j++) {
        if (place.address_components[i].types.indexOf(elementIds[j]) > -1) {
          var val = place.address_components[i]['long_name'];
          document.getElementById(elementIds[j]).value = val;
        }
      }
    }
  }
</script>

{% get_current_language as current_language %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}&libraries=places&callback=initAutocomplete&language={{ current_language }}" async defer></script>

{% endblock %}
