{% extends 'dashboard/base.html' %}{% load i18n %}{% load l10n %}

{% block nav-route %}is-active{% endblock %}

{% block main %}
<div>
<div class="columns is-gapless" style="height: calc(100vh - 3.25rem);">
  <div class="column is-one-thirds media-items">
    <div class="section">
      {% for message in messages %}
      <div class="notification is-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}

      {% if path %}
      <div class="content">
        <p><strong>{% trans 'Driver' %}:</strong> {{ driver }}</p>
        <p><strong>{% trans 'Total distance' %}:</strong> {{ distance }}</p>
      </div>

      <div class="timeline">
        <header class="timeline-header">
          <span class="tag">{% trans 'Start' %}</span>
        </header>

        {% for address in stops %}
        <div class="timeline-item waypoint" id="{{ address.0.id }}">
          <div class="timeline-marker is-icon">
          {% if forloop.first or forloop.last %}
            <i class="fas fa-truck"></i>
          {% else %}
            <i class="fas fa-box"></i>
          {% endif %}
          </div>
          <div class="timeline-content">
            <p class="heading">{{ address.1 }}</p>
            <p>{{ address.0 }}</p>
          </div>
        </div>
        {% endfor %}

        <header class="timeline-header">
          <span class="tag">{% trans 'End' %}</span>
        </header>
      </div>
      {% else %}

      {% if drivers %}
      <form class="form" action="{% url 'route' %}" method="post">
        {% csrf_token %}
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">{% trans 'Driver' %}</label>
          </div>
          <div class="field-body">
            <div class="control">
              <div class="select">
                <select name="driver">
                  {% for driver in drivers %}
                    <option value="{{ driver.id }}">{{ driver.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label"> </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary is-rounded">{% trans 'Optimise' %}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="column is-two-thirds">
    <div id="map" style="height: 100%;"></div>
  </div>
</div>
</div>

{% localize off %}
<script>
var map;
var markers = {};

function initMap() {
  var bounds = new google.maps.LatLngBounds();
  var infowindow = new google.maps.InfoWindow();

  var directionsService = new google.maps.DirectionsService;
  var directionsRenderer = new google.maps.DirectionsRenderer({suppressMarkers: true});

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 57.6962992, lng: 11.9613259 },
    zoom: 12,
    zoomControl: true,
    mapTypeControl: true,
    scaleControl: false,
    streetViewControl: false,
    rotateControl: false,
    fullscreenControl: false,
  });

  directionsRenderer.setMap(map);

  var locations = {
  {% for address in path %}
  {{ address.id }}: { lat: {{ address.latitude }}, lng: {{ address.longitude }} },
  {% endfor %}
  };

  for (var key in locations) {
    var marker = new google.maps.Marker({position: locations[key], map: map});
    markers[key] = marker;
    bounds.extend(marker.position);
  }

  if (Object.keys(locations).length > 0) {
    var coordinates = $.map(locations, function(value, key) { return new google.maps.LatLng(value) });
    var waypoints = $.map(coordinates, function(item) { return {location: item, stopover: true }});

    directionsService.route({
      origin: coordinates[0],
      destination: coordinates[0],
      waypoints: waypoints.slice(1),
      travelMode: 'DRIVING',
    }, function(response, status) {
      if (status === 'OK') {
        directionsRenderer.setDirections(response);
      } else {
        console.log('Directions request failed due to ' + status);
      }
    });

    map.fitBounds(bounds);

    var listener = google.maps.event.addListener(map, "idle", function() {
      if (map.getZoom() > 12)
        map.setZoom(12);
      google.maps.event.removeListener(listener);
    });
  }
}

function animateMarker(e) {
  markers[this.id].setAnimation(google.maps.Animation.BOUNCE);
}

function unAnimateMarker(e) {
  markers[this.id].setAnimation(null);
}

$('.timeline-item').hover(animateMarker, unAnimateMarker);

</script>

{% get_current_language as current_language %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}&callback=initMap&language={{ current_language }}" async defer></script>
{% endlocalize %}

{% endblock %}
