{% extends 'dashboard/base.html' %}{% load i18n %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block main %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">{% trans 'General' %}</p>
          <ul class="menu-list">
            <li><a class="{% block menu_account %}{% endblock %}" href="{% url 'settings_account' %}">{% trans 'Account' %}</a></li>
            <li><a class="" href="#">{% trans 'Organisation' %}</a></li>
            <li><a class="" href="#">{% trans 'Billing' %}</a></li>
          </ul>

          <p class="menu-label">{% trans 'Development' %}</p>
          <ul class="menu-list">
            <li><a class="{% block menu_api %}{% endblock %}" href="{% url 'settings_api' %}">{% trans 'API keys' %}</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-three-fifths">
        {% block settings_main %}{% endblock %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
