{% extends 'dashboard/settings.html' %}{% load i18n %}

{% block menu_account %}is-active{% endblock %}

{% block settings_main %}

{% for message in messages %}
<div class="notification is-{{ message.tags }}">
{{ message }}
</div>
{% endfor %}

<form action="{% url 'settings_account' %}" method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label">{% trans 'Username' %}</label>
    <div class="control">
      <input class="input" type="text" value="{{ user.username }}" autocomplete="off" disabled>
    </div>
  </div>

  <div class="field">
    <label class="label">{% trans 'Email' %}</label>
    <div class="control">
      <input class="input" type="email" value="{{ user.email }}" name="email" autocomplete="off">
    </div>
  </div>

  <div class="field">
    <label class="label">{% trans 'Old password' %}</label>
    <div class="control">
      <input class="input" name="password" type="password">
    </div>
  </div>

  <div class="columns">
  <div class="column">

  <div class="field">
    <label class="label">{% trans 'New password' %}</label>
    <div class="control">
      <input class="input" name="new_password" type="password" value="{{ password }}" autocomplete="off">
    </div>
  </div>

  </div>
  <div class="column">

  <div class="field">
    <label class="label">{% trans 'Confirm new password' %}</label>
    <div class="control">
      <input class="input" name="new_password_confirm" type="password" value="{{ password }}" autocomplete="off">
    </div>
  </div>

  </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="button is-primary" type="submit" value="{% trans 'Save' %}">
    </div>
  </div>
</form>
{% endblock %}
