{% extends 'dashboard/base.html' %}

{% block title %}Add stop{% endblock %}

{% block main %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Add stop</h1>
        {% for message in messages %}
        <div class="notification is-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        <form action="{% url 'stops_new' %}" method="post">
          {% csrf_token %}
          <div class="field">
            <div class="label">Name</div>
            <div class="control">
              <input class="input" type="text" name="name">
            </div>
          </div>
          <div class="field">
            <div class="label">Address</div>
            <div class="control">
              <input id="autocomplete" onFocus="geolocate()" class="input" type="text" name="address">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="button is-primary" type="submit" value="Save">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  var autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')),
      {types: ['geocode']}
    );
  }
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}
